/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#Cap {
    width: 80px;
    border: solid burlywood;
    padding: 3px;
    margin-left: 550px;
    margin-top: 65px;
    background-color: navajowhite;
    transform: rotate(7deg);
}

#War {
    background-color: tan;
    border: solid white;
    transform: rotate(-5deg);
    padding: 0px;
    margin: 50px;
}

#Poster {
    width: 100px;
    border: solid white;
    margin-top: 60px;
    padding: 5px;
    background-color: black;
}