* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar-content {
    background-color: #152602;
    display: flex;
    align-items: center;
    height: 7vh;
}

#navbar-content img {
    height: 25vh;
}

#navbar-content a {
    color: white;
    text-decoration: none;
}

.text a:hover {
    background-color: #66BC3F;
    width: 100%;
    min-width: 200px;
    border-radius: 0px 10px 0px 10px;
}

.logo {
    margin-right: auto;
}

.text a {
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}

.hero-content {
    background-image: url(../images/claudio-testa--SO3JtE3gZo-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    object-fit: cover;
}

.footer-content {
    background-color: #152602;
    width: 100%;
    display: flex;
    align-items: center;
    color: #66BC3F;
    justify-content: center;
}

.hero-content-2 {
    background-image: url(../images/okeykat-g4lw-MLwg7g-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    object-fit: cover;
}

.single-column {
    border: 10px solid #66BC3F;
    padding: 50px;
    margin: 48px auto;
    background-color: #152602;
    color: white;
    text-align: center;
}

.single-column h1 {
    margin-bottom: 50px;
}

.single-column a {
    text-decoration: none;
    color: white;
    background-color: #66BC3F;
    border-radius: 20px;
    padding: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.card1 {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    margin-top: 50px;
    text-align: center;
    flex-direction: row;
}

.card1 img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 0px 50px;
    border: 2px solid #66BC3F;
    margin-bottom: 10px;
}

.card1 h1 {
    font-size: 50px;
    margin: 100px;
}

.card2 {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    margin-top: 50px;
    text-align: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.card2 img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 0px 50px;
    border: 2px solid #66BC3F;
    margin-top: 10px;
}

.card2 h1 {
    font-size: 50px;
    margin: 10px;
}

.featured-dish {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.featured-dish img {
    width: 100%;
    height: 60vh;
    border-radius: 0px 50px;
    object-fit: cover;
    border: 2px solid white;
}

.featured-dish h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.featured-dish h4 {
    font-size: 30px;
    margin-top: 20px;
}

.featured-dish p {
    margin-bottom: 100px;
}

#card-content-column {
    max-width: 1200px;
    margin: 48px auto;
    display: flex;
    gap: 36px;
}

#card-content-column img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    margin-bottom: 0px;
    padding: 20px;
}

.card-content {
    background-color: black;
    border-radius: 50px 0px 50px 0px;
    flex: 1;
    border: 2px solid #66BC3F;
}

.card-content a {
    display: inline-block;
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) and (max-width: 1200px){
    #navbar {
        flex-direction: column;
        justify-content: center;
    }
}