* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-column-1 {
    display: flex;
}

#two-column-2 {
    display: flex;
}

#two-column-3{
    display: flex;
}

#two-column-4 {
    display: flex;
}

#two-column-5{
    display: flex;
}

#two-column-6 {
    display: flex;
}

#sidebar-content {
    display: flex;
}

#sidebar-content {
    background-color: #CFE2BB;
    width: 250px;
    padding: 24px;
    border-right: 5px solid #72A586;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}
